<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<h2>Reviews for <%= @restaurant.name %></h2>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant.id) %>
<%= link_to "Go back to list", restaurants_path %>
